.donor-card {
  background: white;
  width: 300px;
  margin: 15px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.donor-card h3 {
  color: #c1121f;
  margin-bottom: 10px;
}