.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.stat-card {
  width: 250px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.stat-card h2 {
  color: #c1121f;
}